.wrapper {
    display: grid; /* 1.设置 display 为 grid */
    width: 100%;
    /* height:auto; */
	  height:900px;
    grid-template-areas:
        "head head"
        "nav  main"
        "nav  foot"; /* 2.区域划分 当前为 三行 两列 */
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 8fr 50px; /* 3.各区域 宽高设置 */

}
.wrapper #head {
    grid-area: head; /* 4. 指定当前元素所在的区域位置，从 grid-template-areas 选取值 */
    background-color: #8ca0ff;
    font-size: larger;
    color: crimson;

}
.wrapper #nav{
    grid-area: nav;
    background-color: #ffa08c;


}
.wrapper #mainContent{
    grid-area: main;
    background-color: #ffff64;

    /*!*子布局*!*/
    /*display: grid;*/
    /*grid-template-areas:*/
    /*    "info info info"*/
    /*    "left-content middle-content right-content ";*/
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-template-rows: 0.5fr 4fr; !* 3.各区域 宽高设置 *!*/

}
.wrapper #foot{
    grid-area: foot;
    background-color: #8cffa0;
}
