<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aerial.toys.mapper.modelToyMapper">

    <!--   List<ModelToy> getAllModelToy();-->
    <select id="getAllModelToy" resultType="ModelToy">
        SELECT * FROM ModelToy
    </select>

<!--    void delete(@Param("id") Integer id);-->
    <delete id="delete">
        delete from  ModelToy where ModelToy_id=#{id}
    </delete>

<!--    减少商品库存 int updateInventory(@Param("id") Integer id);-->
    <update id="updateInventory">
        UPDATE `ModelToy` SET inventory=inventory-1 WHERE ModelToy_id =#{id};
    </update>
<!--    ModelToy getA(@Param("id") Integer id);-->
    <select id="getA" resultType="ModelToy">
        select * from `ModelToy` where ModelToy_id=#{id};
    </select>


</mapper>